<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">
  <ion-button (click)="presentAlert()" expand="block"> Alert </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block">
    Multiple Buttons Alert
  </ion-button>
  <ion-button (click)="presentAlertPrompt()" expand="block">
    Alert Prompt
  </ion-button>
</ion-content>
