<app-header titulo="Cards"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus explicabo,
      asperiores enim fuga accusantium repellat dolorum itaque, sequi tenetur,
      iusto magnam. Fuga odio sequi ab cum labore aliquam culpa dolorum.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://media.vandal.net/i/1200x630/3-2019/2019349474229_1.jpg" />
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus explicabo,
      asperiores enim fuga accusantium repellat dolorum itaque, sequi tenetur,
      iusto magnam. Fuga odio sequi ab cum labore aliquam culpa dolorum.
    </ion-card-content>
  </ion-card>
</ion-content>
