<app-header titulo="iframe"></app-header>

<ion-content>
  <ion-list>
    <iframe
      [style]="didShow ? 'width: 100vw; height: 50vh' : 'width: 100vw; height: 100vh'"
      src="https://identity.mimovistar.com.pe/autoservicio/afiliacion.html"
      frameborder="0"
    ></iframe>
  </ion-list>
</ion-content>
